<div id="<%= dom_id payment_card %>">
  <p>
    <strong>Card brand:</strong>
    <%= payment_card.card_brand %>
  </p>

  <p>
    <strong>Card network:</strong>
    <%= payment_card.card_network %>
  </p>

</div>
