<h1>Editing payment card</h1>

<%= render "form", payment_card: @payment_card %>

<br>

<div>
  <%= link_to "Show this payment card", @payment_card %> |
  <%= link_to "Back to payment cards", payment_cards_path %>
</div>
