<h1>Editing rentaltype</h1>

<%= render "form", rentaltype: @rentaltype %>

<br>

<div>
  <%= link_to "Show this rentaltype", @rentaltype %> |
  <%= link_to "Back to rentaltypes", rentaltypes_path %>
</div>
